.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 10px;
    max-width: 1600px;
    &-logo {
        display: flex;
        align-items: center;
        &__icon {
            margin-right: $spacer;
        }
        &__text {
            font-family: $font-family-logo;
        }
    }

    &__hamburger {
        outline: none;
    }

    &__btn {
        @extend .btn;
        @extend .btn-primary;
    }
}