::placeholder {
	color: #666;
}

::selection {
	background-color: $color-primary;
	color: #fff;
}

html {
	font-size: 16px;
	@include media-breakpoint-down(sm) { 
		font-size: 14px;
	}
}

body {
	font-size: $base-font;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	color: $color-white;
	background-color: $color-secondary;
	height: 100vh;
	overflow: hidden;
	font-weight: 400;
}

.container {
	max-width: 1600px;
	margin: 0 60px;
}

.wrapper {
	overflow: hidden;
	touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
}



