* {
	outline: none;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $color-primary;
	color: #fff;
}

html {
	font-size: 16px;
	height: 100%;
	@include media-breakpoint-down(sm) { 
		font-size: 14px;
	}
}

body {
	font-size: $font-size-regular;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	color: $color-white;
	background-color: $color-secondary;
	height: 100%;
	overflow: hidden;
	font-weight: 400;
}

.container {
	position: relative;
	max-width: 1600px;
	margin: auto;
}

.wrapper {
	overflow: hidden;
	perspective: 1500px;
	transform-origin: center;

	&--open {
		.wrapper-content {
			touch-action: none;
			user-select: none;
			-webkit-user-drag: none;
			transform: translateZ(-2200px) translateX(-50%) rotateY(45deg);
			max-height: 100%;
			transition: transform .5s linear;
		}
		.wrapper-nav {
			right: 0;
			transition: right .5s linear;	
		}
	}
	&-content {
		touch-action: none;
		user-select: none;
		-webkit-user-drag: none;
		outline: 30px solid $color-primary;
		transition: transform .5s linear;
		padding: 0 60px;
		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}
	}

	&-nav {
		position: absolute;
		top: 50%;
		right: -100%;
		transform: translate(0, -50%);	
		width: 50%;
		transition: right .5s linear;
	}
}



