extends ../base.pug

block content
    .swiper-container.content-main__sections
        .swiper-wrapper
            div(data-name="home").swiper-slide
                include ../sections/home.pug
            div(data-name="about").swiper-slide
                include ../sections/about.pug