extends ../base.pug

block content
    .swiper-container.content-main__sections
        .swiper-wrapper
            .swiper-slide
                include ../sections/home.pug
            .swiper-slide
                include ../sections/about.pug