extends ../base.pug

block content
    .swiper-container.content-main__sections
        .swiper-wrapper
            div(data-name="home").swiper-slide
                include ../sections/home.pug
            div(data-name="work").swiper-slide
                include ../sections/work.pug
            div(data-name="about").swiper-slide
                include ../sections/about.pug
            div(data-name="contact").swiper-slide
                include ../sections/contact.pug
            div(data-name="hire").swiper-slide
                include ../sections/hire.pug