input:not([type="submit"]),
textarea {
    display: block;
    outline: none;

    @include input-placeholder {

    }

    &:focus:required:invalid {
        border-color: red;
    }

    &:required:valid {
        border-color: $color-primary;
    }
}

form {
    input {
        &:last-child {
            margin-bottom: 0;
        }

        &[type="submit"] {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn_size_l;
        }
    }

}