.nav-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: $height-header-calc;
    padding: 0 30px 0 60px;
    &:before {
        content: '';
        @include center('vertical');
        height: 90%;
        left: 35px;
        width: 1px;
        background-color: rgba($color-white, .15);
    }
    .swiper-pagination-bullet {
        position: relative;
        width: auto;
        height: auto;
        background: transparent;
        color: transparent;
        font-size: 14px;
        font-weight: $font-weight-light;
        opacity: 1;
        &:before {
            content: attr(data-index);
            @include center('vertical');
            left: 0;
            color: $color-white;
            transition: all .5s linear;
        }
        &:after {
            content: '';
            @include center('vertical');
            left: -27px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: rgba($color-white, .3);
        }
        &-active {
            color: $color-white;
            transition: all .5s linear;
            &:before {
                left: -60px;
            }
            &:after {
                background-color: $color-primary;
            }
        }
    }
}

.nav-outter {
    &__list {
        @include clear-list-style();
        text-align: right;
        max-width: 300px;
    }
    &__item {
        position: relative;
        overflow: hidden;
        font-family: $font-family-title;
        font-size: 55px;
        line-height: 1.4;
        flex-grow: 0;
        text-transform: capitalize;
        &:before {
            content: '';
            @include center('vertical');
            width: 0%;
            height: 14px;
            background: $color-primary;
            transition: width .5s linear;
        }
        &:hover, &--active {
            &:before {
                width: 100%;
            }
            cursor: pointer;
        }
    }
}