.content-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: $height-header;
    &__sections {
        flex-grow: 1;
    }

    &__nav {
        flex-shrink: 1;
    }
}

.sections {
    height: $height-header-calc;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
        max-width: 1200px;
    }

    &-home {
        &-intro-banner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;
            align-items: center;

            &__col {
                &_right {
                    text-align: right;
                }
            }

            &__title {
                position: relative;
                z-index: 20;
                @extend .title-h1;
            }

            &__photo {
                width: auto;
                @include media-breakpoint-down(md) {
                    position: absolute;
                    z-index: 10;
                    bottom: 0;
                    right: 0;
                    height: 300px;
                }
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            &__btn {
                @extend .btn;
                @extend .btn-arrow;
            }
        }
        &-intro-advantage {
            position: relative;
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-top: 1px solid rgba($color-white, .15);
            padding-top: ($spacer * 2);
            gap: 20px;
            @include media-breakpoint-down(sm) {
                grid-template-columns: 1fr;
            }
            &-item {
                position: relative;
                opacity: .2;
                &:before {
                    content: '';
                    position: absolute;
                    top: -50px;
                    width: 30px;
                    height: 8px;
                    background-color: $color-primary;
                    transition: all .5s linear;
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
                transition: all .5s linear;
                &:hover {
                    opacity: 1;
                    transition: all .5s linear;
                    &:before {
                        top: -33px;
                        transition: all .5s linear;
                    }
                }
                &__title {
                    @extend .title-h4;
                }
                &__desc {

                }
            }
        }
    }
}