//- HTML title & meta
- 
    var pages = {
        home: {
            title: "Home",
        }
    }

- 
    var sections = [
        {
            name: 'home',
            title: 'Your next<br> interactive<br> experience',
            photoUrl: 'img/banner-intro.png',
            btnText: 'hire us',
            btnLink: '#',
            advantages: [
                {
                    title: 'Metiew & Smith',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing eli consectetur adipisicing eli'
                },
                {
                    title: 'Fantasy interactive',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing eli consectetur adipisicing eli'
                },
                {
                    title: 'Paul & shark',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing eli consectetur adipisicing eli'
                },
            ]
        },
        {
            name: 'works',
            title: 'Selected work',
            works: [
                {
                    title: 'Metiew & Smith',
                    photoUrl: 'img/work-1.png',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing eli'
                },
                {
                    title: 'Victory',
                    photoUrl: 'img/work-2.png',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing eli'
                },
                {
                    title: 'Alex nowak',
                    photoUrl: 'img/work-3.png',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing eli'
                },
                {
                    title: 'Alex nowak',
                    photoUrl: 'img/work-2.png',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing eli'
                },
            ]
        },
        {
            name: 'about',
            title: 'We<br> believe in<br> passionate<br> people',
            btnText: 'career',
            btnLink: '#',
            items: [
                {
                    title: 'Winners',
                    photoUrl: 'img/about-1.jpg',
                },
                {
                    title: 'Philosophy',
                    photoUrl: 'img/about-2.jpg',
                },
                {
                    title: 'History',
                    photoUrl: 'img/about-3.jpg',
                },
            ]
        },
        {
            name: 'contact',
            address: 'Pawia 5,31-154 Kraków, Polanrd',
            email: 'ouremail@gmail.com',
            phone: '+48 12 628 75 60',
            btnLink: '#',
            map: 'img/contact-bg.png',
            social: [
                {
                    title: 'Behance',
                    link: '#',
                },
                {
                    title: 'dribbble',
                    link: '#',
                },
                {
                    title: 'Contact Us',
                },
            ]
        },
            {
            name: 'hire',
            title: 'You want us to do',
            formRadio: ['App Design', 'Graphic Design', 'Motion Design', 'UX Design', 'Webdesign', 'Marketing'],
            formBtn: 'Send request'
        },
    ]

mixin dynamicPath(path, data)
    - var section = data;
    case path
        when "home"
            include ./sections/home.pug
        when "about"
            include ./sections/about.pug
        when "works"
            include ./sections/works.pug
        when "contact"
            include ./sections/contact.pug
        when "hire"
            include ./sections/hire.pug
        default
            include ./sections/home.pug