header.header
    .header-logo
        img(src="img/logo.svg").header-logo__icon
        .header-logo__text GLOBAL

    .header-btn-wrapper
        a(href="#hire").header__btn hire us
    
    .menu-btn
        button.hamburger.hamburger--collapse.header__hamburger
            .hamburger-box
                .hamburger-inner