h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
	color: $color-title;
	margin-top: 0;
}

h1,
.title-h1,
h2,
.title-h2,
h3,
.title-h3 {
	font-family: $font-family-title;
}

h1,
.title-h1 {
	font-size: 82px;
	@include media-breakpoint-down(sm) {
		font-size: 60px;
	}
}

h2,
.title-h2 {
	font-size: 50px;
	@include media-breakpoint-down(sm) {
		font-size: 35px;
	}
}

h3,
.title-h3 {
	font-size: 30px;
	@include media-breakpoint-down(sm) {
		font-size: 25px;
	}
}

h4,
.title-h4 {
	font-family: $default-font;
	font-size: 18px;
	text-transform: uppercase;
}